.playground {
    margin: 100px auto 10px;
    width: 700px;
    height: 600px;
    border: solid 3px;
    border-radius: 5px;
    position: relative;

    .minion {
        position: absolute;
        width: 60px;
        height: fit-content;

        img {
            width: 100%;
        }
    }
}
